<table class="table table-hover col-md-2 mypage-box" style= "background-color: #ffffff;, border-radius: 16px;">
  <tr><td><%= link_to "検討したい銀行", favorites_banks_path %></td></tr>
  <tr><td><%= link_to "　クーポン　", coupons_path %></td></tr>
  <tr><td><%= link_to "　　退会　　", users_check_path %></td></tr>
</table>