<div class="container">
	<div class="row">
		<%= render 'banks/mypage' %>

		<div class="box col-md-9">
			<h4 class="title">気になる登録した銀行</h4>
			<% if @banks.exists? %>
					<table class="table new-table">
						<% @banks.each do |bank| %>
						<tbody>
						<tr>
							<th><%= bank.name %></th>
							<td><%= link_to "借入実績をみる", bank_path(bank), class: "btn btn-primary" %></td>
						</tr>
					</tbody>
					<% end %>
					</table>
			<% else %>
				<br><p>「気になる」登録している銀行はありません</p>
			<% end %>
		</div>
	</div>
</div>
