<h3>クーポン一覧</h3>
<% if @coupons.exists? %>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>有効期限</th>
			</tr>
		</thead>
		<% @coupons.each do |coupon| %>
			<tbody>
				<tr>
					<td><%= link_to "クーポンを確認する", coupon_path(coupon) %></td>
					<% limit = coupon.created_at + coupon.limit.days %>
					<td><%= limit.to_s(:datetime_jp) %></td>
				</tr>
			</tbody>
		<% end %>
	</table>
<% else %>
	<P>発行されたクーポンはありません</P>
<% end %>