<div class="container">
  <div class="row">
    <%= render 'banks/mypage' %>

    <div class="box col-md-9">
      <h4 class="title">クーポン一覧</h4>
      <% if @coupons.exists? %>
        <table class="table new-table">
          <thead>
            <th>有効期限</th>
            <th></th>
          </thead>
          <% @coupons.each do |coupon| %>
            <tr>
              <% limit = coupon.created_at + coupon.limit.days %>
              <td><%= limit.to_s(:datetime_jp) %>まで有効</td>
              <td><%= link_to "クーポンを確認する", coupon_path(coupon), class: "btn btn-primary d-block" %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <br><P>発行されたクーポンはありません</P>
      <% end %>
    </div>
  </div>
</div>