<div class="container">
  <div class="row">
    <%= render 'banks/mypage' %>
    <div class="coupon-target col-md-9">
      <div class="about1-title">
        <p>　クーポンの対象店舗一覧</p>
      </div>
        <div class="target-index">
        <div class="target-box"></div>
        <div class="target-box"></div>
        <div class="target-box"></div>
        <div class="target-box"></div>
        <div class="target-box"></div>
        <div class="target-box"></div>
        <div class="target-box"></div>
        <div class="target-box"></div>
        <div class="target-box"></div>
      </div>
    </div>
  </div>
</div>




