
<div class="about1">
	<h2>ienowaとは<br>
	家を買いたい人と<br>
	手に入れたマイホームを素敵にしたい人をつなぐ<br>
	住宅ローンの口コミサイトです</h2>
</div>
<div class="about2">
	<h2>家ほしいな・・・</h2>
	<h2>でも、なにから始める・・・？</h2>
	<h2>家を購入した人の声</h2>
	<h4>欲しい家があったけど、銀行選びと審査に時間がかかってしまって、買い逃してしまった・・</h4>
	<h4>自分の勤続年数では借りれない銀行もあって、銀行選びが大変だった・・</h4>
</div>
<div class="about3">
	<h2>家を買う時のポイント</h2>
	<h3>１. 家を探す前に借りる銀行の目星をつけておくこと</h3>
	<h3>２. 自分に合った銀行選びをすること</h3>
	<h3>でも、どうやって・・・？</h3>
</div>
<div class="about4">
	<h1>ienowaで解決！</h1>
	<h3>iwenowaで、できること</h3>
	<h4>１. 自分に似ている人の住宅ローン実績がわかる ２. 最新の実績を確認できる　３. 自分に合った銀行の目星をつけて、審査に進める</h4>
	<h5>ienowaでマイホームへの第一歩を踏み出そう</h5>
</div>
<div class="about5">
	<h3>すでにおうちを買った方へ</h3>
	<p>せっかく手に入れたマイホーム、おトクに、もっと素敵にしませんか？</p>
	<h4>簡単アンケートに答えて、インテリアショップで使える20%OFFクーポンをゲットしよう</h4>
	<p>登録してアンケートに答える</p>
</div>

