/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.field_with_errors {
	display: contents
}

header {
	font-family: sans-serif;
	background-color: #F4F4F4;
	ul {
	li {
		list-style-type: none
	}
	}
}
body {
	font-family: sans-serif;
	background-color: #F4F4F4;
	ul {
	li {
		list-style-type: none
	}
	}
	#wrapper {
		max-width: 100%;
		margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
}
}

.top-header {
	color: #ffffff;
	background-color: #0051e0;
	font-weight: bold;
	a {
		color: #ffffff;
		position: relative;
		display: inline-block;
		text-decoration: none;
	}
	a:hover {
		color: #ffffff;
		text-decoration: none;
	}
	a::after {
		color: #ffffff;
		position: absolute;
		bottom: -8px;
		left: 0;
		content: '';
		width: 100%;
		height: 3px;
		background: #ffc107;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
	}
	a:hover::after {
		color: #ffffff;
		bottom: -4px;
		opacity: 1;
		visibility: visible;
	}
	.menu {
		display: flex;
		li {
			margin-left: 15px;
		}
	}
}

header {
	color: #000000;
	font-weight: bold;
	a {
		color: #000000;
		position: relative;
		display: inline-block;
		text-decoration: none;
	}
	a:hover {
		color: #000000;
		text-decoration: none;
	}
	a::after {
		color: #000000;
		position: absolute;
		bottom: -8px;
		left: 0;
		content: '';
		width: 100%;
		height: 3px;
		background: #ffc107;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
	}
	a:hover::after {
		color: #ffffff;
		bottom: -4px;
		opacity: 1;
		visibility: visible;
	}
	.header-nav {
		li {
			margin-left: 15px;
		}
	}
}

body {
	width: 100%;
	box-sizing: border-box;
	.sign-box {
		margin-top: 100px;
		height: 500px;
		background-color: #ffffff;
		text-align: center;
	}
	.sign-title {
		font-weight: bold;
	}
	.sign-table {
		th {
			font-size: 11px;
			line-height: 1.65;
			text-align: left;
		}
	}
	.sign-botton {
		margin-top: 5px;
	}
	.auth-botton {
		margin-top: 20px;
	}
	.devise-link {
		margin-top: 20px;
		font-size: 13px;
	}
}
.main-body {
	padding-bottom: 100px;
}
.top-body {
	margin-top: -40px;
}

///*ページャ*///
.pagination {
  	justify-content: center;
  	margin-top: 30px;
}
.pagination>li>a {
	border: none;
	color: #000000;
	border-radius: 15px;
}
.pagination>.active>a {
	background: #93c9ff;
	border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
 }

footer {
	margin-top: auto;
	height: 250px;
	background-color: #0051e0;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
}
.footer-text {
	p {
		padding-top: 100px;
	}
}

///レスポンシブ対応////
@media screen and (max-width:559px) {
	header {
		width: 100%;
		box-sizing: border-box;
  }
	body {
		width: 100%;
		box-sizing: border-box;
	}
	
	#wrapper {
		width: 100%;
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
    margin-left: auto;
    margin-right: auto;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
	.top-header{
    width: 100%;
    height: 70px;
    position: relative;
    background: #F4F4F4;
  }
  .drawer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
		padding: 0 1em;
		top: 0;
		left:0;
  }
  .nav-item a{
		width: 100%;
    font-weight:bold;
    padding: 2em;
    border-bottom: 1px dotted #CCC;
    color:#333;
    text-decoration:none;
  }
  .menu{
		display: block;
		width: 100%;
		z-index: 4;
    text-align:center;
    background-color:rgba(247, 245, 245, 0.9);
    transition: 0.5s ease;/*滑らかに表示*/
		-webkit-transform: translateX(-110%);/*画面より100%外へ押し出し非表示にさせる*/
		position: fixed;
  	top: 70px;
  	left: 0;
	}
/*OPEN時の動き*/
.menu.open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*メニューを元の位置へ戻す*/  
}

.header-nav{
	display: block;
}
.Toggle {
	z-index: 4;
  display: block;
  position: fixed;    /* bodyに対しての絶対位置指定 */
  width: 42px;
  height: 42px;
  cursor: pointer;
  right:15px;
}
.Toggle span {
  display: block;
  position: absolute;
  width: 35px;
  border-bottom: solid 2px #333;
  -webkit-transition: .35s ease-in-out; /*変化の速度を指定*/
  -moz-transition: .35s ease-in-out;    /*変化の速度を指定*/
  transition: .35s ease-in-out;     /*変化の速度を指定*/
}
/*各ボーダー少しずつずらす*/
.Toggle span:nth-child(1) {
  top:5px;
}
.Toggle span:nth-child(2) {
  top: 18px;
}
.Toggle span:nth-child(3) {
  top: 32px;
}
.Toggle.active span:nth-child(1) {
  top: 18px;
/* 1番目のspanをマイナス45度に */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
	z-index: 4;
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
}

@media screen and (min-width: 599px)  {
.Toggle {
	display: none;
}
}