/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.field_with_errors {
	display: contents
}

header {
	font-family: sans-serif;
	background-color: #F4F4F4;
	ul {
	li {
		list-style-type: none
	}
	}
}
body {
	font-family: sans-serif;
	background-color: #F4F4F4;
	ul {
	li {
		list-style-type: none
	}
	}
}
body,
	#wrapper {
		display: flex;
		flex-direction: column;
		min-height: 140vh;
}

.top-header {
	color: #ffffff;
	font-weight: bold;
	a {
		color: #ffffff;
		position: relative;
		display: inline-block;
		text-decoration: none;
	}
	a:hover {
		color: #ffffff;
		text-decoration: none;
	}
	a::after {
		color: #ffffff;
		position: absolute;
		bottom: -8px;
		left: 0;
		content: '';
		width: 100%;
		height: 3px;
		background: #ffc107;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
	}
	a:hover::after {
		color: #ffffff;
		bottom: -4px;
		opacity: 1;
		visibility: visible;
	}
	.header-nav {
		li {
			margin-left: 15px;
		}
	}
}

header {
	color: #000000;
	font-weight: bold;
	a {
		color: #000000;
		position: relative;
		display: inline-block;
		text-decoration: none;
	}
	a:hover {
		color: #000000;
		text-decoration: none;
	}
	a::after {
		color: #000000;
		position: absolute;
		bottom: -8px;
		left: 0;
		content: '';
		width: 100%;
		height: 3px;
		background: #ffc107;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
	}
	a:hover::after {
		color: #ffffff;
		bottom: -4px;
		opacity: 1;
		visibility: visible;
	}
	.header-nav {
		li {
			margin-left: 15px;
		}
	}
}

body {
	.sign-box {
		margin-top: 100px;
		height: 450px;
		background-color: #ffffff;
		text-align: center;
	}
	.sign-title {
		font-weight: bold;
	}
	.sign-table {
		th {
			font-size: 11px;
			line-height: 1.65;
			text-align: left;
		}
	}
	.sign-botton {
		margin-top: 5px;
	}
	.auth-botton {
		margin-top: 20px;
	}
	.devise-link {
		margin-top: 20px;
		font-size: 13px;
	}
	.body {
		padding-bottom: 100px;
	}
}
///*ページャ*///
.pagination {
  	justify-content: center;
}
.pagination>li>a {
	border: none;
	color: #000000;
	border-radius: 15px;
}
.pagination>.active>a {
	background: #93c9ff;
	border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
 }

footer {
	margin-top: auto;
	height: 250px;
	background-color: #0051e0;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
}
.footer-text {
	margin-top: 100px;
}
