// Place all the styles related to the bank_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-bank {
	height: 50px;
	background-color: #0051e0;
	border-radius: 16px 16px 0 0;
	margin-top: 20px;
	vertical-align:　middle;
	a {
		color: #ffffff;
		text-decoration: none;
		padding-top: 20px;
	}
	a:hover {
		color: #ffffff;
		text-decoration: none;
	}
}

///*bank_show*///
.pagination {
  justify-content: center;
}
.bank-info-box {
	height: auto;
	padding-bottom: 50px;
	position: relative;
}
.info-name {
	display: flex;
	top: 0;
  	right: 0;
 	bottom: 0;
  	left: 30px;
  	margin: auto;
  	h1 {
  		font-weight: bold;
  		color: #0051e0;
  	}
}
.min-rate {
	margin: 0 auto;
	h4 {
	font-weight: bold;
	}
}
.chart-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.line-chart {
	width: 70%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
.legend {
	display: flex;
}

.info-text {
	position: absolute;
	top: 0;
  	right: 0;
 	bottom: 0;
  	left: 0;
  	margin: auto;
  	font-weight: bold;
}
.info-favorite {
	position: absolute;
	top: 0;
  	right: 0px;
 	bottom: 0;
  	left: 0;
  	margin: auto;
  	font-weight: light;
	font-size: 13px;
	text-align: center;
	.star {
		font-size: 60px;
		color: #ffc107;
		text-align: center;
	}
}

.favorite-box {
	background-color: #ffffff;
	border-radius: 16px;
	margin-top: 40px;
	padding-bottom: 30px;
}

.favorite-text-box {
	display: flex;
}
.favorite-title {
	font-weight: bold;
	margin-top: 30px;
}
.favorite-rate {
	margin: 0 auto;
	padding-top: 30px;
	h5 {
	font-weight: bold;
	}
}
.favorite-link {
	margin: auto;
}

.favorite-chart-box {
	display: flex;
	justify-content: center;
	align-items: center;
}