// Place all the styles related to the coupons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
	background-color: #ffffff;
	border-radius: 16px;
	margin-top: 40px;
}

////*coupon_index*////

.mypage-box {
	height: 150px;
	background-color: #ffffff;
	border-radius: 16px;
	margin-top: 40px;
	margin-right: 25px;
	text-align: center;
	a {
		color: #000000;
		font-weight: bold;
	}
	a:hover {
		color: #000000;
		font-weight: bold;
		text-decoration: none;
	}
}
.title {
	margin-top: 30px;
	font-weight: bold;
}

////*coupon_show*////

.wide-box {
	height: 600px;
	background-color: #ffffff;
	border-radius: 16px;
	margin-top: 40px;
	text-align: center;
	h4 {
		font-weight: bold;
	}
}

.coupon-text {
	margin-top: 150px;
	margin-bottom: 50px;
	h1,h5 {
	font-weight: bold;
	}
}

.coupon-target {
	height: 730px;
	background-color: #ffffff;
	border-radius: 16px;
	margin-top: 40px;
	text-align: center;
	h4 {
		font-weight: bold;
	}
}
