// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///*トップページ*////


.top-text {
	letter-spacing: 3px;
	font-weight: bold;
}
.line {
	width: 502px;
	height: 3px;
	background: #ffc107;
	margin-bottom: 20px;
}

.jumbotron {
 	background: linear-gradient(rgba(0, 24, 214, 0.6), rgba(0, 24, 214, 0.6)),url(top1.jpg)center no-repeat;
	background-size: cover;
	height: 750px;
	margin-top : -100px;
	color: #ffffff;
	font-weight: bold;
	a {
		color: #000000;
		text-decoration: none;
		font-weight: bold;
	}
	a:hover{
		color: #000000;
		text-decoration: none;
		font-weight: bold;
	}
}
.search-table {
	th {
	width: 98px;
	letter-spacing: 5px;
	}
}
.search-botton {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	margin-top: 17px;
}

.top-coupon {
	margin-top: 40px;
}

.top-botton {
	height: 30px;
}

///*about*///
.container-cancellation {
  margin-left : 0px;
  margin-right: 0px;
  margin-top : 0px;
}
@media screen and (min-width: 1200px) {
  .container-cancellation {
    margin-left : calc(-0.55 * (100vw - 1140px));
    margin-right: calc(-0.55 * (100vw - 1140px));
  }
}


.about1 {
	width: 100%;
	height: 640px;
}
.about2 {
	width: 100%;
	height: 640px;
	background-color: #ffffff;
}
.about3 {
	width: 100%;
	height: 640px;
}
.about4 {
	width: 100%;
	height: 640px;
	background-color: #ffffff;
}
.about5 {
	width: 100%;
	height: 640px;
}