// Place all the styles related to the attribute_bank_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
	background-color: #ffffff;
	border-radius: 16px;
	margin-top: 40px;
}
/////*index*/////
.index-title-box{
	margin-top: 40px;
	a {
		color: #000000;
		text-decoration: none;
	}
	a:hover {
		color: #000000;
	}
}

.index-title-text {
	display: inline-block;
	font-weight: bold;
}
.index-title-bank {
	display: inline-block;
	float: right;
}

.index-bank {
	height: 80px;
	background-color: #0051e0;
	border-radius: 16px 16px 0 0;
	z-index: 3;
	margin-bottom: -30px;
	color: #ffffff;
	line-height: 5px;
}
.index-bank-name {
	display: inline-block;
	font-weight: bold;
	padding-top: 10px;
}
.bank-link{
	display: inline-block;
	float: right;
	a {
		color: #ffffff;
		text-decoration: none;
		padding-top: 20px;
	}
	a:hover {
		color: #ffffff;
		text-decoration: none;
	}
}

.index-searched-box {
	position: absolute;
	background-color: #ffffff;
	border-radius: 16px;
	margin-top: 20px;
}
.rate-box {
	display: inline-block;
	margin-top: 65px;
}

.rate-type-rate {
	padding-left: 30px;
}
.index-rate {
	display: inline-block;
	font-size: 60px;
	font-weight: bold;
}

.index-table {
	margin-top: 55px;
	th {
		width: 150px;
		margin-right: 20px;
	}
	td {
		width: 170px;
	}
}

.index-attribute {
	display: inline-block;
}
.index-loan {
	display: inline-block;
}
.index-reason {
	margin-bottom: 30px;
	margin-left: 30px;
	h6 {
	 font-weight: bold;
	}
}
.family_form-image {
	display: inline-block;
	text-align: center;
}
.balloon {
	display: inline-block;
	position: relative;
	display: inline-block;
	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: #F4F4F4;
	border-radius: 10px;
}

.balloon:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -25px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 15px solid #F4F4F4;
}

.balloon p {
	margin: 0;
	padding: 0;
}


/////*new*/////
.new-box {
	margin-top: 40px;
	font-weight: bold;
	h4 {
		font-weight: bold;
	}
}
.pankuzu {
	margin-top: 20px;
}
.pankuzu-other {
	display: inline-block;
}
.pankuzu-now {
	display: inline-block;
	color: #0051e0;
	border-bottom: inset 3px #0051e0;
}
.new-table {
	margin-top: 10px;
	th {
		width: 250px;
	}
}
.new-botton {
		margin-bottom: 30px;
	}
.complete-box {
	height: 500px;
	background-color: #ffffff;
	border-radius: 16px;
	margin-top: 40px;
	text-align: center;
	h4 {
		font-weight: bold;
	}
}
.complete-text {
	margin-top: 150px;
	margin-bottom: 50px;
}

///レスポンシブ対応////
@media screen and (max-width:559px) {
.box {
	margin-right: 10px;
	margin-left: 10px;
}
.index-reason {
	margin-left: 0px;
}
.index-searched-box {
	margin-right: 10px;
	margin-left: 10px;
}
.index-bank {
	margin-right: 10px;
	margin-left: 10px;
}
.search-field {
	width: 30px;
}
}