// Place all the styles related to the attribute_bank_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
	background-color: #ffffff;
	border-radius: 16px;
	margin-top: 40px;
}
/////*index*/////
.index-title-box{
	margin-top: 40px;
}

.index-title-text {
	display: inline-block;
	font-weight: bold;
}
.index-title-bank {
	display: inline-block;
	float: right;
}

.index-bank {
	height: 50px;
	background-color: #0051e0;
	border-radius: 16px 16px 0 0;
	margin-top: 20px;
	vertical-align:　middle;
	a {
		color: #ffffff;
		text-decoration: none;
		padding-top: 20px;
	}
	a:hover {
		color: #ffffff;
		text-decoration: none;
	}
}
.index-searched-box {
	position: relative;
	background-color: #ffffff;
	border-radius: 0 0 16px 16px;
}
.index-image-rate {
	display: inline-block;

}
.family_form-image {
	display: inline-block;
}
.index-rate {
	display: inline-block;
	font-size: 60px;
	font-weight: bold;
}
.index-attribute {
	display: inline-block;
	margin-top: 40px;
	th {
		width: 100px;
		margin-right: 20px;
	}
	td {
		width: 150px;
	}
}
.index-loan {
	display: inline-block;
}
.index-reason {
	margin-bottom: 30px;
}


/////*new*/////
.new-box {
	margin-top: 40px;
	font-weight: bold;
	h4 {
		font-weight: bold;
	}
}
.pankuzu {
	margin-top: 20px;
}
.pankuzu-other {
	display: inline-block;
}
.pankuzu-now {
	display: inline-block;
	color: #0051e0;
	border-bottom: inset 3px #0051e0;
}
.new-table {
	margin-top: 10px;
	th {
		width: 250px;
	}
}
.new-botton {
		margin-bottom: 30px;
	}
.complete-box {
	height: 500px;
	background-color: #ffffff;
	border-radius: 16px;
	margin-top: 40px;
	text-align: center;
	h4 {
		font-weight: bold;
	}
}
.complete-text {
	margin-top: 150px;
	margin-bottom: 50px;
}